/*Hoja de estilos*/
#entorno {
	display: block;
	margin: 0 auto;
	
    
}

#fondo {

	-webkit-filter: grayscale(100%);
filter: grayscale(100%);
		
	opacity: 0.7;
	width: 601px;
	height: 548px;
	

  
}
body{
	background-image: url(img/1.gif);
}
h1{
	color: white;
    text-align: center;
}
#titulo{
	color: rgb(38, 38, 71); 
	font-family: 'Dancing Script', cursive;
	margin-left: 40px;
	margin-right: 40px;
	font-weight: bold;
	text-align: center;
}
